.login-form {
    /* själva rutan*/
    position: flex;
    width: 400px;

    border-radius: 25px;
    box-shadow: 0 0 10px;
    padding: 40px;
}

.login-container {
    /*  rutan platsen i hela sidan*/
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5px;



}



.login-input {
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    background-color: rgba(127, 255, 212, 0.3);
}



.login-button-group {
    /*Sign In  */

    width: 150px;
    background-color: rgba(39, 176, 130, 0.3);
    box-shadow: 0 0 10px;
    border-radius: 10px;
    margin-left: 75px;
    height: 30px;
    margin-bottom: 20px;
    justify-content: center;
    /* ange size   */
    align-items: center;
    /* ange platsen   */
    display: flex;
}

.login-button-group:hover {
    /* när välja Sign In*/
    font-weight: bold;
    background-color: rgba(39, 176, 130, 0.6);
}

.login-create-account

/*G-comment creat account */
    {
    width: 150px;
    background-color: rgba(103, 94, 224, 0.3);
    box-shadow: 0 0 10px;
    padding: 10px;
    height: 30px;
    border-radius: 10px;
    margin-left: 75px;
    justify-content: center;
    /* ange size   */
    align-items: center;
    /* ange platsen   */
    display: flex;
}

.login-create-account:hover {
    /* när välja Sign In*/
    font-weight: bold;
    background-color: rgba(103, 94, 224, 0.6);
    font-size: smaller;
}