@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles/globals.css */
body {
  background-color: white;
}

/* Active button in unser page */
.active {
  background-color: #0d9488;
  color: #fafafa;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f3f4f6;
}

tr {
  transition-duration: 200ms;
}

tr:not(:nth-child(1)):hover {
  background-color: #0f8a805d;
}
